<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div class="rounded-md bg-red-300 p-4 mb-4 text-red-800 text-sm">
      <p class="font-medium"><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</p>
      <ul class="px-4 list-disc">
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <%= form.label :name, class: 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2' %>

      <div class="mt-1 flex rounded-md shadow-sm">
        <%= form.text_field :name, class: 'flex-1 block focus:ring-indigo-500 focus:border-indigo-500 min-w-0 rounded-md sm:text-sm border-gray-300' %>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <%= form.label :original_url, class: 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2' %>

      <div class="mt-1 flex rounded-md shadow-sm">
        <%= form.text_field :original_url, disabled: form.object.persisted?, class: 'disabled:bg-slate-50 disabled:text-slate-500 flex-1 block focus:ring-indigo-500 focus:border-indigo-500 min-w-0 rounded-md sm:text-sm border-gray-300' %>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <%= form.label :slug, class: 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2' %>

      <div class="mt-1 flex rounded-md shadow-sm">
        <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm"><%= request.host %>/r/</span>
        <%= form.text_field :slug, disabled: form.object.persisted?, class: 'disabled:bg-slate-50 disabled:text-slate-500 flex-1 block w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300' %>
      </div>
    </div>
  </div>

  <%= form.submit nil, class: 'inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
<% end %>
